.specs {
    width: 944px;
    height: 602px;
    margin: auto auto;
    overflow: hidden;
}

.specs .nav-tabs {
    margin-right: 2;
    width: 138;
    height: 602px;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
}

.specs .tab-pane {
    border: 1px solid gray;
    height: 600px;
    width: 800px;
}

.specs .vennDiagrams {
    height: 450px;
    width: 450px;
}

.specs .checkDisplay {
    text-align: center;
    position: relative;
    top: -600px;
    height: 150px;
    width: 450px;
}

.specs .checkDisplay .btn {
    width: 450px;
    height: 50px;
    padding: 0;
    border-radius: 0;
}

.specs .checkDisplay .notify {
    width: 450px;
    height: 100px;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.specs .checkDisplay .correct {
    color: #468847;
    background-color: #dff0d8;
}

.specs .checkDisplay .wrong {
    color: #b94a48;
    background-color: #f2dede;
}

.specs .specsDisplay {
    border-left: 1px solid lightgray;
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
    width: 349px;
    position: relative;
    top: -450px;
    left: 450px;
}

.specs pre {
    border-radius: 0;
    width: 305;
    padding: 5px 25px 5px 10px;
    margin: 0;
    border-width: 1px 1px 1px 10px;
}

.specs .imple {
    overflow: hidden;
    height: 20px;
}

.specs .label {
    text-decoration-color: 'white';
    background-color: 'black';
}