.container {
    width: 900px;
    margin: auto auto;
    margin-bottom: 50px;
    
}

.head {
    text-align: center;
}

.specs div {
    width: 290px;
    display: inline-block;
    margin-top: 15px;
}

.imple div {
    margin-bottom: 15px;
    padding: 5px 25px;
    display: inline-block;
}

input {
    display: inline-block;
}

#result {
    background: #eee;
    padding: 10px;
    height: 100px;
    overflow: auto;
    
}
