.container {
    width: 900px;
    margin: auto auto;
    margin-bottom: 50px;
    
}

.head {
    text-align: center;
}

.specs div{
    width: 365px;
    margin-right: 18px;
    display: inline-block;
    margin-bottom: 15px;
}

.imple div {
    margin-bottom: 15px;
    margin-right: 20px;
    display: inline-block;
}

input {
    display: inline-block;
}

#result {
    display: inline-block;
    background: #eee;
    width: 550px;
    padding: 10px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    
}

select {
    margin-left: 10px;
    width: 200px;
    height: 200px;
    float: left;
}

.questions div {
    display: inline-block;
    float: left;
}

pre {
    float: left;
}

.highlight {
    background-color: lightyellow;
}

.opButtons {
    float: left;
    position: relative;
    margin-left: 10px;
    width: 100px;
    height: 140px;
}

.opButtons button {
    margin-bottom: 5px;
}

textarea {
    white-space: pre;
}
