.container {
    width: 900px;
    margin: auto auto;
    margin-bottom: 50px;
    
}

.head {
    text-align: center;
}

.specs div {
    width: 290px;
    display: inline-block;
    margin-top: 15px;
}

.imple div {
    margin-bottom: 15px;
    padding: 5px 25px;
    display: inline-block;
}

input {
    display: inline-block;
}

#result {
    background: #eee;
    width: 550px;
    padding: 10px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    
}

select {
    position: relative;
    margin-left: 50px;
    width: 200px;
    height: 200px;

}

.questions div {
    display: inline-block;
    float: left;
}


p.highlight {
    background-color: lightyellow;
}